<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>
<!--

Property binding: The 'disable' property will update automatically when allowNewServer updates. This is one of the main reasons to use Angular: It makes it easy to change things in the DOM at run time.

In addition to binding to HTML properties (e.g., 'disabled', demonstrated above) you can bind to other properties, such as Angular directives.

 -->

<br><br>
<p>{{ allowNewServer }}</p> <!-- Data binding with string interpolation -->
<p [innerText]="allowNewServer"></p> <!-- Data binding with property binding -->

<br>
<app-server></app-server>
<app-server></app-server>