<!--

Property binding: The 'disable' property will update automatically when allowNewServer updates. This is one of the main reasons to use Angular: It makes it easy to change things in the DOM at run time.

In addition to binding to HTML properties (e.g., 'disabled', demonstrated above) you can bind to other properties, such as Angular directives.

 -->
<label for="Server Name"></label>

<h3>Two-way Data binding</h3>
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- Two-way binding: on the input event, it will update the value of serverName in out TS code. When the value of serverName is updated in our TS code, it will also update in the element. -->

<!-- {{ serverName }}
 --><br>
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button><!-- You can bind to any of the events made available to you by the html attribute -->
<!-- General rule: Don't put too much logic into your templates -->

<br><br>
<!-- <p>Allow new server? Info from string intepolation says: <strong>{{ allowNewServer }}</strong></p> --> <!-- Data binding with string interpolation -->
<!-- <p>Allow new server? Info from property binding says: <strong [innerText]="allowNewServer"></strong></p> --> <!-- Data binding with property binding -->
<br>
<!-- * is required be ngIf to let it know that this is a structural directive, it updates the DOM -->
<p *ngIf="serverCreated">Server was created. Server name is {{ serverName }}.</p> <!-- Updates dynamically (2-way binding) with string interpolation -->
<br>
<app-server></app-server>
<app-server></app-server>